@page "/anime/{animeId:int}"
@inject HttpClient Http

@if (anime == null)
{
    <p><em>Loading...</em></p>
    @animeId
}
else
{
<div class="row">
    <div class="container anime">
        <div class="col-sm-12 mt-5">
            <h1 class="fw-bold fs-2 mt-2 text-center" style="font-weight: 600;">@anime.title</h1>
            <div class="row mt-5">
                <div class="col-sm-6 col-md-4">
                    <div class="aboutImg">
                        <img src="@anime.image_url" alt="@anime.title" class="img-fluid rounded mx-auto d-block">
                    </div>
                </div>
                <div class="col-sm-6 col-md-7">
                    <div class="d-block">
                        <h2> <span class="text-warning">★</span> @anime.score</h2>
                    </div>
                    <div class="d-block">
                        <p class="font-weight-bold" style="font-size: 16px;">Members: @anime.members.ToString("N0")</p>
                    </div>
                    <div style="font-size: 16px;">
                        <p><span class="font-weight-bold mr-2">Release:</span>@anime.premiered</p>
                    </div>
                    <div style="font-size: 16px;">
                        <p><span class="font-weight-bold mr-2">Air date:</span>@anime.aired.from</p>
                    </div>
                    <div style="font-size: 16px;">
                        <p><span class="font-weight-bold mr-2">Status:</span>@anime.status</p>
                    </div>
                    <div style="font-size: 16px;">
                        <p><span class="font-weight-bold mr-2">Episodes:</span>@anime.episodes</p>
                    </div>
                    <div style="font-size: 16px;">
                        <p><span class="font-weight-bold mr-2">Episodes:</span>@anime.duration</p>
                    </div>
                    <div class="d-flex flex-row" style="font-size: 16px;">
                        <p class="font-weight-bold mr-2">Genres:</p>
                        @foreach (var genre in anime.genres)
                        {
                            if (anime.genres.IndexOf(genre) != anime.genres.Count - 1)
                            {
                                <div class="justify-content-start mr-1">@genre.name, </div>
                            }
                            else
                            {
                                <div class="justify-content-start mr-1">@genre.name. </div>
                            }
                        }
                    </div>
                    <div class="d-flex flex-row" style="font-size: 16px;">
                        <p class="font-weight-bold mr-2">Studios:</p>
                        @if (!anime.studios.Any() || anime.studios == null)
                        {
                            <div class="justify-content-start mr-1">Unknown</div>
                        }
                        else
                        {
                            @foreach (var studio in anime.studios)
                            {

                                if (anime.studios.IndexOf(studio) != anime.studios.Count - 1)
                                {
                                    <div class="justify-content-start mr-1">@studio.name, </div>
                                }
                                else
                                {
                                    <div class="justify-content-start mr-1">@studio.name. </div>
                                }
                            }
                        }
                    </div>
                    <div class="d-flex flex-row" style="font-size: 18px;">
                        <p class="font-weight-bold mr-2">Producers:</p>
                        @if (!anime.producers.Any() || anime.producers == null)
                        {
                            <div class="justify-content-start mr-1">Unknown</div>
                        }
                        else
                        {
                            @foreach (var producer in anime.producers)
                            {

                                if (anime.producers.IndexOf(producer) != anime.producers.Count - 1)
                                {
                                    <div class="justify-content-start mr-1">@producer.name, </div>
                                }
                                else
                                {
                                    <div class="justify-content-start mr-1">@producer.name. </div>
                                }
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="col-sm-12 mt-5">
                <div class="separator d-flex">
                    <h3 class="text-uppercase fw-bolder" style="font-weight: 300;">Synopsis</h3>
                    <div class="line align-self-center mx-5 mb-2"></div>
                </div>
                <p>@anime.synopsis</p>
            </div>
            <div class="col-sm-12 my-5">
                <div class="video-container">
                    <iframe src="@anime.trailer_url" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
}

@code{
    private Detail anime;

    [Parameter]
    public int animeId { get; set; }
   // private string members = String.Format("{0:n0}", anime.members);


    protected override async Task OnInitializedAsync()
    {
        anime = await Http.GetFromJsonAsync<Detail>($"https://api.jikan.moe/v3/anime/{animeId}");
    }


    public class Aired
    {
        public DateTime from { get; set; }
        public object to { get; set; }
    }

    public class Producer
    {
        public int mal_id { get; set; }
        public string type { get; set; }
        public string name { get; set; }
        public string url { get; set; }
    }

    public class Studio
    {
        public int mal_id { get; set; }
        public string type { get; set; }
        public string name { get; set; }
        public string url { get; set; }
    }

    public class Genre
    {
        public int mal_id { get; set; }
        public string type { get; set; }
        public string name { get; set; }
        public string url { get; set; }
    }


    public class Detail
    {
        public string request_hash { get; set; }
        public bool request_cached { get; set; }
        public int request_cache_expiry { get; set; }
        public int mal_id { get; set; }
        public string url { get; set; }
        public string image_url { get; set; }
        public string trailer_url { get; set; }
        public string title { get; set; }
        public string type { get; set; }
        public object episodes { get; set; }
        public string status { get; set; }
        public bool airing { get; set; }
        public Aired aired { get; set; }
        public string duration { get; set; }
        public string rating { get; set; }
        public double score { get; set; }
        public int members { get; set; }
        public string synopsis { get; set; }
        public string premiered { get; set; }
        public string broadcast { get; set; }
        public IList<Producer> producers { get; set; }
        public IList<Studio> studios { get; set; }
        public IList<Genre> genres { get; set; }
    }
}
