@page "/season"
@inject HttpClient Http

@if (season == null)
{
    <p><em>Loading...</em></p>
}
else
{

<section class="">

    <div class="separator d-flex">
        <h3 class="text-uppercase fw-bolder ml-5" style="font-weight: 600;">Currently Airing</h3>
        <div class="line align-self-center mx-5 mb-2"></div>
        <select class="mr-5 px-3" @onchange="setType">
            <option value="all">All</option>
            <option value="TV">TV</option>
            <option value="ONA">ONA</option>
            <option value="OVA">OVA</option>
            <option value="Movie">Movie</option>
            <option value="Special">Special</option>
            <option value="-">Unknown</option>
        </select>
    </div>

    <div class="row d-flex justify-content-center">
        @foreach (var entry in season.anime)
        {
            @if (entry.r18 == false && type == "all")
            {
                <div class="anime-entry">
                    <a href="/anime/@entry.mal_id" class="item">
                        <img src="@entry.image_url" alt="@entry.type">
                        <div class="item-cotent">
                            <div class="fw-bolder mt-2 text-uppercase text-center anime-title" style="font-weight: 600;">@entry.title</div>
                            <div class="fw-bolder mt-2 text-uppercase text-center" style="font-weight: 600;">
                                <div>@entry.type</div>
                                <div>@entry.airing_start</div>
                            </div>
                        </div>
                    </a>
                </div>
            }
            else if (entry.r18 == false && entry.type == type)
            {
                <div class="anime-entry">
                    <a href="/anime/@entry.mal_id" class="item">
                        <img src="@entry.image_url" alt="@entry.type">
                        <div class="item-cotent">
                            <div class="fw-bolder mt-2 text-uppercase text-center" id="anime-title2" style="font-weight: 600;">@entry.title</div>
                            <div class="fw-bolder mt-2 text-uppercase text-center" style="font-weight: 600;">
                                <div>@entry.type</div>
                                <div>@entry.airing_start</div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>


</section>

}

@code {
    private AnimeSeason season;
    private ExplicitGenre e;
    private string type = "all";

    protected override async Task OnInitializedAsync()
    {
        season = await Http.GetFromJsonAsync<AnimeSeason>("https://api.jikan.moe/v3/season");
    }

    public class Genre
    {
        public int mal_id { get; set; }
        public string name { get; set; }
    }

    public class ExplicitGenre
    {
        public int mal_id { get; set; }
        public string name { get; set; }
    }

    public class Theme
    {
        public int mal_id { get; set; }
        public string name { get; set; }
    }

    public class Demographic
    {
        public int mal_id { get; set; }
        public string name { get; set; }
    }

    public class Producer
    {
        public int mal_id { get; set; }
        public string name { get; set; }
    }

    public class Anime
    {
        public int mal_id { get; set; }
        public string url { get; set; }
        public string title { get; set; }
        public string image_url { get; set; }
        public string type { get; set; }
        public DateTime? airing_start { get; set; }
        public int? episodes { get; set; }
        public int members { get; set; }
        public IList<Genre> genres { get; set; }
        public IList<ExplicitGenre> explicit_genres { get; set; }
        public IList<Theme> themes { get; set; }
        public IList<Demographic> demographics { get; set; }
        public string source { get; set; }
        public IList<Producer> producers { get; set; }
        public double? score { get; set; }
        public IList<string> licensors { get; set; }
        public bool r18 { get; set; }
        public bool kids { get; set; }
        public bool continuing { get; set; }
    }

    public class AnimeSeason
    {
        public string request_hash { get; set; }
        public bool request_cached { get; set; }
        public int request_cache_expiry { get; set; }
        public string season_name { get; set; }
        public int season_year { get; set; }
        public IList<Anime> anime { get; set; }
    }

    public void setType(ChangeEventArgs e)
    {
        type = e.Value.ToString();
    }
}
